@import url('https://fonts.googleapis.com/css?family=Limelight');

.header {
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
}

.title {
  width: 100%;
  margin: 0 0 0 25px;
  font-family: 'Limelight', cursive;
  font-size: 3rem;
}
