@import url('https://fonts.googleapis.com/css?family=Limelight');

.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  margin: 0 0 0 25px;
  font-family: 'Limelight', cursive;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}
